.single-trend {
    position: relative;
    top: -15px;
    text-align: center;
    font-size: 18px;
    color: #888;
}
.single-trend i {
    font-size: 28px;
    vertical-align: text-bottom;
}
.single-trend.nochange, .single-trend.nochange i {
    font-size: 14px;
}
.single-trend.increase {
    color: #65A637;
}
.single-trend.decrease {
    color: #d85d3c;
}
